<h1>File Cabinet</h1>
<p>Your Life's work. Organized, always</p>

<button><%= link_to 'Enter', new_user_registration_path %></button>

<br>
<button> <%= link_to 'Join Now', new_user_registration_path %></button>
